@keyframes moveBackground {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(20px) translateY(-20px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.animate-moveBackground {
  animation: moveBackground 5s infinite alternate ease-in-out;
}
